[Init]
Description=Backup weeghman from ELMAGO on Wednesdays at 5

[Timer]
OnCalendar=Wed *-*-* 5:00:00
Persistent=true

[Install]
WantedBy=timers.target