[Service]
Type=oneshot
ExecStart=syncoid --no-privilege-elevation --sshkey=/home/liam/.ssh/syncoid_id_ed25519 syncoid@192.168.8.6:weeghman/media/immich lakefront/backup/immich
